html {
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(226, 219, 219);    
    transition: 1s;
    font-size: 25px;
}

a:hover{
    color: red;
    transition: 1s;
}

#titolo {
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    height: 12%;
    overflow: hidden;
}

.login {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 1%;
    left: 0.5%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.login:hover {
    text-decoration: none;
    color: white;
}

.aboutUs {
    color: red;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: white;
    text-align: center;
}

.card {
    position: absolute;
    border-radius: 15px;
    top: 25%;
    height: 50%;
    width: 35%;
    background-color: rgba(0,0,0,0.5);
}