html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#titolo{
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    height: 12%;
    overflow: hidden;
}

.homepage {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    left: 0.5%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.homepage:hover{
    text-decoration: none;
    color: white;
}

.registra{
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.voli {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    right: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.voli:hover{
    color: white;
    text-decoration: none;
}

.container{
    height: 88%;
    align-content: center;
}

.card{
    position: absolute;
    top: 21%;
    height: 65%;
    width: 25%;
    background-color: rgba(0,0,0,0.5);
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.crea_btn{
    background-color: rgba(0,0,0,0.2); /*il quarto parametro gestisce l'opacità del background*/
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.crea_btn:hover{
    color: black;
    background-color: white;
}

.inverti_btn {
    background-color: rgba(0,0,0,0.2); /*il quarto parametro gestisce l'opacità del background*/
    border-color: rgb(0, 45, 248);
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    color: white;
    transition: 1s;
}

.inverti_btn:hover{
    color: black;
    background-color: white;
}
