html {
    height:100%;
    width:100%;
    margin:0px;
    overflow: hidden;
}

#titolo {
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    height: 12%;
    overflow: hidden;
}

.pannelloSinistro {
    position: absolute;
    height: 88%;
    width: 50%;
    border-collapse: collapse;
    text-indent: 50px;
}

.pannelloDestro {
    position: absolute;
    height: 88%;
    width: 50%;
    left: 50%;
    border-collapse: collapse;
}

.voli {
    color: red;
    font-size: 60px;
    position: absolute;
    left: 43%;
    top: 1.7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homepage {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 1%;
    left: 0.5%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.homepage:hover {
    text-decoration: none;
    color: white;
}

.crea {
    font-size: 35px;
    color: red;
    position: absolute;
    right: 1%;
    top: 1%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.crea:hover {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    position: absolute;
    border-radius: 15px;
    top: 15%;
    height: 70%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
}

.card1 {
    position: relative;
    border-radius: 15px;
    top: 8%;
    left: 37%;
    height: 70%;
    width: 30%;
    background-color: rgba(0,0,0,0.5);
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

.volo_btn {
    position: relative;
    left: 29%;
    background-color: rgba(0,0,0,0); /*il quarto parametro gestisce l'opacità del background*/
    border: none;
    background: none;
    font-size: 30px;
    width: 15%;
    color: white;
    transition: 1s;
}

.volo_btn:hover {
    color: red;
    text-decoration: none;
}

.form-control {
    background-color: rgb(29, 28, 28);
}