html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map { 
    position:absolute; 
    height: 91%;
    top: 9.3%; 
    bottom: 0; 
    left: 0; 
    right: 0;
} 

#titolo {
    position: absolute;
    border-style: groove;
    border-width: 15px;
    border: black;
    background-color: rgb(19, 19, 34);
    width: 100%;
    height: 12%;
    margin-top: -10px;
    margin-left: -8px;
}

.pulsanteHomepage { 
    font-size: 40px;
    color: red;
    text-decoration: none;
    position: absolute;
    left: 0.3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteHomepage:hover {
    text-decoration: none;
    color: white;
}

.pulsanteVoli {
    font-size: 40px;
    position: absolute;
    right: 0.6%;
    color: red;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteVoli:hover {
    text-decoration: none;
    color: white;
}