html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map{  /*le impostazioni base della mappa*/
    position:absolute; 
    height: 94.4%;
    top: 50px; 
    bottom: 0; 
    left: 0; 
    right: 0;
    background-color: rgb(41, 40, 40);
} 

#titolo {
    position: absolute;
    border-style: groove;
    border-width: 15px;
    border: black;
    background-color: rgb(19, 19, 34);
    width: 100%;
    height: 100px;
    margin-top: -10px;
    margin-left: -8px;
}

.pulsanteHomepage { 
    font-size: 40px;
    color: red;
    text-decoration: none;
    position: relative;
    left: 0.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteHomepage:hover{
    text-decoration: none;
    color: white;
}

.pulsanteVoli {
    font-size: 40px;
    position: relative;
    left: 78%;
    color: red;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteVoli:hover{
    text-decoration: none;
    color: white;
}