html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map { 
    position:absolute; 
    height: 91%;
    top: 9.3%; 
    bottom: 0; 
    left: 0; 
    right: 0;
    z-index: 1;
} 

#titolo {
    position: absolute;
    left: 0%;
    top: 0%;
    border-style: groove;
    border: black;
    background-color: rgb(19, 19, 34);
    width: 100%;
    height: 12%;
}

.pulsanteHomepage { 
    font-size: 35px;
    color: red;
    text-decoration: none;
    position: absolute;
    left: 0.3%;
    top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteHomepage:hover {
    text-decoration: none;
    color: white;
}

.pulsanteVoli {
    font-size: 40px;
    position: absolute;
    right: 0.6%;
    top: 10%;
    color: red;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
}

.pulsanteVoli:hover {
    text-decoration: none;
    color: white;
}

#overlay {
    position: fixed; /* Sit on top of the page content */           
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
}

#partenza{
    position: absolute;
    right: 0%;
    color: white;
}

#arrivo{
    position: absolute;
    right: 0%;
    color: white;
}

#direzione{
    position: absolute;
    right: 0%;
    color: white;
}

#altitudine{
    position: absolute;
    right: 0%;
    color: white;
}

#pilota{
    position: absolute;
    right: 0%;
    color: white;
}

.info{
    color: white;
}

#info{
    position: absolute;
    left: 34%;
    color: red;
}

.card {
    position: absolute;
    border-radius: 15px;
    top: 25%;
    height: 55%;
    width: 60%;
    background-color: rgba(0,0,0,0.5);
}