html {
    width: 100%;
    height: 98%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#titolo {
    border-style: groove;
    border-width: 15px;
    border: black;
    font-size: 70px;
    color: red;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    text-align: center; 
    background-color: rgb(19, 19, 34);
    background-size: 25px;
}

.login {
    text-decoration: none;
    float: left;
    font-size: 38px;
    color: red;
    margin-top: 10px;
}

.aboutUs {
    color: red;
    font-size: 70px;
    text-align: center;
    margin-top: -5px;
}

.nomi {
    color: rgb(0, 0, 0);
    text-align: center;
}