html {
    width: 100%;
    height: 98%;
    margin: 0;
}


/* questo è lo stile per la pagina del piano di volo
    in particolare questo è il main body del form */

    .pianodivolo {
        text-align: center;
   }