html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#titolo{
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    margin-top: -20px;
    height: 100px;
}

/* O questo */
.pianodivolo {
    text-align: center;
}
/* o questo dovrebbe contenere lo sfondo della cornice*/
.piano1{
    background-color: teal;
    opacity: 0.9;
}

.homepage {
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    left: 0.5%;
    text-decoration: none;
}

.homepage:hover{
    text-decoration: none;
    color: black;
}

.registra{
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
