html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#titolo{
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    height: 12%;
    overflow: hidden;
}

.pannelloSinistro {
    position: absolute;
    height: 88%;
    width: 25%;
    border-collapse: collapse;
    text-indent: 50px;
}

.pannelloCentrale {   
    position: absolute;
    left: 25%;
    height: 88%;
    width: 45%;
    border-collapse: collapse; 
}

.pannelloDestro {
    position: absolute;
    left: 70%;
    height: 88%;
    width: 30%;
    border-collapse: collapse;
}

table{
    position: absolute;
    opacity: 0.9;
    background-color: whitesmoke;
    color: rgba(238, 9, 9);
    top: 25%;
    left: 32%;
    font-size: 28px;
    width: 50%;
    height: 45%;
}

.Logout{
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    left: 0.4%;
    text-decoration: none;
}

.Logout:hover{
    color: black;
}

.Login{
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    text-decoration: none;
}

.login:hover{
    color: black;
}

.homepage {
    color: red;
    font-size: 60px;
    position: absolute;
    left: 43%;
    top: -2.5%;
}

.user {
    font-size: 35px;
    color: red;
    position: absolute;
    right: 1%;
    text-decoration: none;
}

.user:hover{
    color: black;
}

.pulsanteCreaPiano{
    position: absolute;
    background-image: url(../Immagini/vistaradar.png);
    background-size:cover;
    font-size: 20px;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 40%;
    width: 50%;
    height: 5%;
}

.pulsanteCreaPiano:hover{
    color: #701121;
    font-size: 25px;
    transition: 1s;
}

.testo{
    color: #810b0b;
    text-align: center;
    position: absolute;
    top: 48%;
    width: 190%;
    left: -30%;
    opacity: 0;
}

.creaPiano:hover .testo{
    transition: 3s;
    opacity: 1;
    font-size: 25px;
}

.pulsanteVistaAerei{
    position: absolute;
    background-image: url(../Immagini/vistaradar.png);
    background-size:cover;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    top: 40%;
    right: 35%;
    width: 40%;
    height: 5%;
}

.pulsanteVistaAerei:hover{
    color: #800015;
    font-size: 25px;
    transition: 1s;
}

.testo1{
    color: #810b0b;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 15%;
    opacity: 0;
}

.vistaAerei:hover .testo1{
    transition: 3s;
    opacity: 1;
    font-size: 25px;
    left: 13%;
}

        body {
          font-family: Arial;
          color: white;
        }
        
        .split {
          height: 100%;
          width: 50%;
          position: fixed;
          z-index: 1;
          top: 0;
          overflow-x: hidden;
          padding-top: 20px;
        }
        
        .left {
          left: 0;
          background-color: #111;
        }
        
        .right {
          right: 0;
          background-color: red;
        }
        
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }