html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.pannelloSinistro {
    width: 40%;
    height: 100%;
    float: left;
    border-collapse: collapse;
    text-indent: 50px;
}

.pannelloCentrale {   
    width: 20%;
    height: 100%;
    float: left;
    border-collapse: collapse; 
}

.pannelloDestro {
    width: 20%;
    height: 100%;
    float: right;
    border-collapse: collapse;
}

a{
    text-decoration: none;
}

table{
    position: absolute;
    opacity: 0.7;        /*bisogna capire come fare un opacità allo sfondo senza opacizzare il contenuto*/
    background-color: whitesmoke;
    border-radius: 3px; 
    border-color: black;
    border-width: 20px;  
    color: rgb(238, 9, 9);
    top: 40%;
    margin-left: -25px;
    border-spacing: 7px;
    font-size: 24px;
}

#titolo{
    border-style: groove;
    border-width: 10px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 20px;
    height: 100px;
    overflow: hidden;
}

.Logout{
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
    left: 0.4%;
}

.Login{
    font-size: 35px;
    color: red;
    position: absolute;
    top: 0%;
}

.homepage {
    color: red;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

.user {
    font-size: 35px;
    color: red;
    margin-right: 15px;
    float: right;
    margin-top: -129px;
    margin-right: 10px;
}

.pulsanteCreaPiano{
    position: absolute;
    height: 42px;
    width: 260px;
    background-image: url(../Immagini/vistaradar.png);
    background-size:cover;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    top: 50%;
    margin-left: 60px
}

.pulsanteCreaPiano:hover{
    color: #701121;
    font-size: 25px;
    transition: 1s;
}

.testo{
    color: #000000;
    margin-top: 420px;
    text-align: center;
    margin-left: -1200px;
}

.creaPiano:hover .testo{
    margin-left: -100px;
    transition: 2s;
}

.pulsanteVistaAerei{
    position: absolute;
    height: 42px;
    width: 200px;
    background-image: url(../Immagini/vistaradar.png);
    background-size:cover;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    top: 50%
}

.pulsanteVistaAerei:hover{
    color: #701121;
    font-size: 25px;
    transition: 1s;
}

.testo1{
    color: black;
    margin-top: 420px;
    margin-left: 350px;
    width: 100%;
    text-align: center;
}

.vistaAerei:hover .testo1{
    margin-left: -50px;
    transition: 2s;
}