html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#titolo{
    border-style: groove;
    border-width: 15px;
    border: black;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    background-color: rgb(19, 19, 34);
    background-size: 25px;
    overflow: hidden;
    height: 120px;
}

#login{
    margin-top: 100px;
    background-color: red;
    margin-left: 470px;
    margin-right: 470px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.popup {
    width: 100%;
    position: absolute;
    top: 23%;
}

.overlay {
    min-width: 400px;
    width: 400px;
    height: 200px;
    margin: 100px auto;
    background: #121212;
    position: relative;
    z-index: 103;
    box-shadow: 0 2px 5px #000;
}

.overlay p {
    position: absolute;
    top: 32%;
    right: 19%;
    font-size: 45px;
}

.close {
    position: absolute;
    top: -43%;
    right: -28%;
    font-size: 27px;
}

.close:hover {
    color: #701121;
}

/*le impostazioni per il campo username, password e il pusalnte di login*/
.field-wrap{
    margin-top: 70px;
    text-align: center;
    margin-top:  5px;
    size: 25px;
}

.saltaLogin{
    text-decoration: none;
    color: black;
    font-size: 35px;
    color: red;
    position: absolute;
    top: 1%;
    left: 10px;
}

.aboutUs{
    text-decoration: none;
    color: black;
    font-size: 35px;
    color: red;
    position: absolute;
    right: 1%;
    top: 1%;
}

.homepage {
    color: red;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    position: absolute;
    top: 25%;
    height: 30%;
    width: 25%;
    background-color: rgba(0,0,0,0.5);
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 25%;
    margin-top: 20%;
}

.login_btn:hover{
    color: black;
    background-color: white;
}