html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#titolo{
    border-style: groove;
    border-width: 15px;
    border: black;
    font-size: 80px;
    color: red;
    text-shadow: seagreen;
    text-decoration: saddlebrown;
    text-align: center;   
    margin-top: auto;
    background-color: rgb(19, 19, 34);
    background-size: 25px;
}

#login{
    margin-top: 100px;
    background-color: red;
    margin-left: 470px;
    margin-right: 470px;
}

/*le impostazioni per il campo username, password e il pusalnte di login*/
.field-wrap{
    margin-top: 70px;
    text-align: center;
    margin-top:  5px;
    size: 25px;
}

.saltaLogin{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 5px;
}

.aboutUs{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: -28px;
    float: right;
    margin-right: 5px;
}