#map{  /* le impostazioni base della mappa*/
    position:absolute; 
    height: 95%;
    top: 50px; 
    bottom: 0; 
    left: 0; 
    right: 0;
} 

/* #titoloRadar{} dobbiamo decidere degli attributi di stile da dare a tutti i titoli di tutte le schermate, così da avere un po' di coerenza */

html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.pulsanteHomepage{ 
    height: 30px;
    font-size: 20px;
    color: lawngreen;
}

.pulsanteUser{
    height: 30px;
    font-size: 20px;
    float: right;
    color: lawngreen;
}